main {
    padding: 0px !important;
}
header {
    height: 52px;
    max-width: 1084px;
    margin: 0px auto;
}
header .logo {
    margin: 4px 0px 0px 5%;
}
.c-show-pipe::before {
    content: "|";
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    padding-left: 12px;
    padding-right: 17px;
    position: relative;
    top: 7px;
}

.mutant-btn {
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: 77%;
    background-color: #107c10 !important;
    color: #fff !important;
    width: 280px;
}

.f-previous {
    margin-left: 54px;
}
.f-next {
    margin-right: 54px;
}
.m-hero-item:before, .c-hero:before {
    padding-bottom: 61.875%;
}
.carousel-text {
    width: 100%;
    text-align: center;
    top: 74% !important;
    left: 27% !important;
    color: #080b0e;
}
.footer-legal {
    background-color: #737373;
    color: #fff;
    letter-spacing: 0.95px;
    width: 100%;
    height: 109px;
    font-size: 11px;
    padding: 26px 53px;
    line-height: 16px;
}
.footer-legal-2 {
    background-color: #000;
    color: #fff;
    letter-spacing: 0.95px;
    width: 100%;
    height: 109px;
    font-size: 11px;
    padding: 26px 53px;
    line-height: 16px;
}
footer {
    height: 399px;
    background-color: #f2f2f2;
    top: 95vw;
    position: relative; 
    max-width: 1084px;
    margin: 0px auto;
}
.header-2 {
    /*background: url('../img/bg.jpg') no-repeat top center; 
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;*/
    height: 1000px;
    background-color: transparent;
    color: #fff;
}

.header-2::after {
}

.back-header {
    background-color: rgba(0, 0, 0, 0.8) !important;
}
.header-2 button, .header-2 a::before, .header-2 .sign-in {
    background-color: transparent;
    color: #fff !important;
}

.theme-dark button.c-action-toggle, .theme-light .theme-dark button.c-action-toggle, .theme-dark .c-sequence-indicator button {
    color: #000;
    border: none;
    box-shadow: none;
    transition: none;
    font-size: 30px;
    border-color: transparent;
}
button.c-button:focus:not(.x-hidden-focus):not(.f-lightweight):not([disabled]), button.c-button:hover:not(.f-lightweight):not([disabled]), a.c-button:focus:not(.x-hidden-focus):not(.f-lightweight):not([disabled]), a.c-button:hover:not(.f-lightweight):not([disabled]) {
    box-shadow: none !important;
}

.theme-dark button.c-action-toggle:hover, .theme-light .theme-dark button.c-action-toggle:hover {
    background: transparent !important;
    color: #000;
}
button.c-action-toggle.c-glyph:before {
    width: auto;
    height: auto;
}
.dialog-close:hover {
    opacity: 0.3;
}
.theme-dark .c-sequence-indicator button:before, .theme-dark .c-sequence-indicator a:before, .theme-light .theme-dark .c-sequence-indicator button:before, .theme-light .theme-dark .c-sequence-indicator a:before{
    border-color: #000;
    border-width: 2px;   
}
.theme-dark .c-sequence-indicator button[aria-checked="true"]:before, .theme-dark .c-sequence-indicator button[aria-selected="true"]:before, .theme-dark .c-sequence-indicator a[aria-checked="true"]:before, .theme-dark .c-sequence-indicator a[aria-selected="true"]:before, .theme-light .theme-dark .c-sequence-indicator button[aria-checked="true"]:before, .theme-light .theme-dark .c-sequence-indicator button[aria-selected="true"]:before, .theme-light .theme-dark .c-sequence-indicator a[aria-checked="true"]:before, .theme-light .theme-dark .c-sequence-indicator a[aria-selected="true"]:before {
    background-color: #000;
}
.theme-dark button.c-action-toggle:focus:after, .theme-light .theme-dark button.c-action-toggle:focus:after {
    border: none;
}
.c-carousel {
    background-color: #89a0b0;
}
.carousel-text h1{
    font-size: 15px !important;
    font-weight: bold !important;
}
.carousel-text p{
    font-size: 13px !important;
}
.shopping-cart {
    color: #000 !important;
    margin: 0px !important;
    padding: 0px !important;
    font-size: 16px !important;
    border: none !important; 
    vertical-align: middle !important;
    display: inline-block;
}
.nav-group {
    width: 17%;
    display: inline-block;
    line-height: 20px;
    color: #616161;
    vertical-align: top;
    padding: 0px 0px 0px 5%;
}

.nav-group h4{ 
    font-size: 15px !important;
    font-weight: normal;
}
.nav-group a{ 
    font-size: 11px !important;
}
.nav-group li {
    line-height: 16px;
}

.c-uhff-base {
    color: #616161;
    background: #f2f2f2;
    margin: 0 auto;
    max-width: calc(1600px + 10%);
    padding: 30px 5% 16px;
    min-height: 80px;
}
.c-uhff-base nav, .c-uhff-base ul, .c-uhff-base ul li {
    display: inline-block;
}
.c-uhff-base a, .c-uhff-base li{
    font-size: 11px !important;
    line-height: 16px;
}
.c-uhff-base nav,.c-uhff-base ul {
    float: right;    
}
.c-uhff-base ul {
    margin: 3px 0;
}
.c-uhff-base li {
    padding: 0 24px 4px 0;
}
#locale-picker-link {
    line-height: 24px;
    float: left;
    padding-top: 3px;
    padding-right: 24px;
    vertical-align: middle;
}
#locale-picker-link::before {
    font-size: 20px !important;
    margin-right: 10px;
    vertical-align: middle;
}
.c-shellmenu_42 {
    color: #262626;
    position: relative;
    display: inline-block;
    padding: 16px 30px 16px 12px;
    border: 0;
    background: transparent;
    text-align: left;
    font-size: 14px;
}
.c-shellmenu_42::after {
    font-family: "MWF-MDL2";
    content: "";
    position: absolute;
    font-size: 8px;
    display: inline-block;
    color: currentColor;
    font-weight: 700;
    padding-top: 7px;
    margin-left: 7px;
}
#uhf-g-nav{
    display: inline-block;
    margin-left: 14vw;
}
.uhf-g-nav{
    display: inline-block;
    vertical-align: top;
}
.uhf-g-nav ul, .uhf-g-nav li {
    display: inline-block;
}
#search {
    border: none;
    height: 32px;
    background: transparent;
    margin-right: 6px;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 30px;
    width: auto;
}
#search::after {
    font-family: "MWF-MDL2";
    content: "";
    -ms-high-contrast-adjust: none;
    border: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2px;
    position: relative;
    text-indent: 0;
    vertical-align: sub;
}
.sign-in {
    font-size: 14px !important;
    font-weight: normal !important;
    color: #262626 !important;
    margin-left: 20px;
}
.game-name {
    width: 100%;
    height: 52px;
    background-color: #282f34;
}
.game-it-btn {
    position: absolute !important;
    top: 8.9%;
    background-color: #107c10 !important;
    color: #fff !important;
    right: 5%;
    padding: 6px 20px 6px 22px !important;
}
.game-name .game-title {
    color: #fff;
    line-height: 52px;
    margin-left: 5%;
}
.m-hero-item>div, .c-hero>div {
    width: 90% !important;
}
.mutant-logo {
    width: 200px;
    margin-top: 10px;
}
.mutant-logo-2 {
    position: absolute;
    bottom: 5%;
    right: 1%;
    width: 110px;
}

.theme-dark {
    background-color: #89a0b0;
}

#dialog-game {
    background-color: rgba(0, 0, 0, 0.5) !important;
    width: 100%;
    margin: 0px auto;
    max-width: 1084px;
    position: relative;
    margin-top: 0px;
    padding-top: 145px;
}
.dialog-close {
    margin-top: 0px !important;
    background-color: transparent !important;
    width: auto !important;
    min-width: auto !important;
    position: absolute !important;
    z-index: 1001;
    top: 2vw;
    right: 2vw;
}

#dialog-game .c-carousel {
    margin-top: 50px;
    background-color: transparent !important;
}

#dialog-game #hero-slide-1 img{
    position: absolute;
}
#dialog-game .mutant-logo-3{
    width: 250px;
}
#dialog-game .mutant-logo-4{
    width: 250px;
}
#dialog-game .mutant-logo-5{
    width: 250px;
}
#dialog-game .mutant-logo-6{
    width: 250px;
}
.find-btn {
    position: relative !important;
    background-color: #107c10 !important;
    color: #fff !important;
    padding: 6px 20px 6px 22px !important;
    margin: 0px auto;
}
.pc-carousel::after {
    content: "";
    display: block;
    background: white;
    height: 450px;
    width: 8000px;
    position: absolute;
    z-index: 1;
    bottom: -40%;
    left: 50%;
    margin-left: -4000px;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
}
.grid-game {
    background-color: #fff;
    color: #000;
    position: absolute;
    z-index: 1010;
    width: 100%;
    min-height: 500px;
    margin-top: -140px;
    padding: 0px 5%;
}
.m-content-placement-item {
    padding: 7px !important;
    margin-top: 5% !important;
}
.m-content-placement-item>picture, .c-content-placement>picture {
    overflow: initial !important;
    padding-bottom: initial !important;
    border: solid 1px #979797;
}
.m-content-placement-item>picture img, .c-content-placement>picture img {
    position: relative;
}
.grid-game .m-content-placement {
    padding: 0px 5%;    
}

.grid-game h4 {
    font-size: 34px;
    font-weight: normal;
}
.grid-game .text {
    font-size: 20px;
    position: relative;
    display: inline-block;
}
.grid-table {
    display: table;
}
.grid-item {
    width: 25%;
    display: inline-flex;
}
.grid-footer {
    height: 399px;
    background-color: #f2f2f2;
    position: relative;
    bottom: 0px;
    z-index: 1011;
}
.carousel-content {
    margin-top: -5vw;
    width: 100%;
    text-align: center;
    margin-bottom: 200px;
    overflow: hidden;
}

#carousel {
    position: relative !important;
    top: 0px !important;
    overflow: visible !important;
    transform: none !important;
    height: 400px;
    margin-left: 15%;
    display: inline-block;
    height: 300px;
    width: 3000px;
    text-align: left;
}

#carousel a {
    display: inline-block;
    position: absolute !important;
}

#carousel .cloud9-item, #buttons button {
  cursor: pointer;
}

#dialog-game .f-previous {
    position: absolute;
    top: 24vw;
    border: 2px solid transparent;
    outline: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 50%;
    background: #ccc;
    color: #000;
    opacity: .8;
    font-family: "MWF-MDL2";
    z-index: 9999;
}
#dialog-game .f-previous:hover, #dialog-game .f-next:hover {
    opacity: 0.3;
}
#dialog-game .f-next {
    position: absolute;
    top: 24vw;
    right: 0px;
    border: 2px solid transparent;
    outline: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 50%;
    background: #ccc;
    color: #000;
    opacity: .8;
    font-family: "MWF-MDL2";
    z-index: 9999;
}
.c-flipper.f-right:before, .c-flipper.f-next:before, .c-flipper.f-left:before, .c-flipper.f-previous:before {
    color: #000 !important;
    font-weight: bold;
}
.m-content-placement-item .c-paragraph {
    font-size: 13px;
}
.find-content {
    width: 100%;
    position: absolute;
    top: 57%;
    text-align: center;
    display: none;
}

#uhf-g-nav2 {
    display: inline-block;
    float: right;
    margin-right: 3vw;
}

.company-content {
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    position: absolute;
    top: 2%;
    width: 100%;
    text-align: center;
}
.company-content-text {
    position: relative;
    display: inline-block;
}
.company-content span:nth-child(1) {    
    display: block;
    text-align: left;
}
.company-content span:nth-child(2) {
    font-size: 40px;
    display: block;
    font-weight: 900;
    line-height: 32px;
}
.company-content span:nth-child(3) {
    display: block;
    text-align: right;
}
.grid-item picture a {
    display: block;
}
.grid-item picture a:focus {
    border: solid 1px #000;
}
.border-obli {
    background-color: #fff; height: 200px;-webkit-transform: skewY(-5deg); -moz-transform: skewY(4deg); -ms-transform: skewY(4deg); -o-transform: skewY(4deg); transform: skewY(4deg);
}

@media screen and (max-width: 420px) {
    .grid-item {
        width: 50%;
    }
    #dialog-game .f-next {
        top: 64vw;
    }
    #dialog-game .f-previous {
        top: 64vw;
    }
    #carousel {
        height: 500px;
    }
}

@media screen and (max-width: 560px) {
    .find-content {
        top: 46% !important;
    }
    .f-next {
        margin-right: 4%;
    }
    .f-previous {
        margin-left: 4%;
    }
}

@media screen and (max-width: 720px) {
    .header-2 {
        background-size: 150%;
    }
}

@media screen and (min-width: 420px) and (max-width: 800px) {
    .grid-item {
        width: 33.33%;
    }
    #dialog-game .f-next {
        top: 40vw;
    }
    #dialog-game .f-previous {
        top: 40vw;
    }
}

@media screen and (max-width: 920px) {
    .find-content {
        width: 100%;
        position: absolute;
        top: 50%;
        text-align: center;
    }
}

@media screen and (max-width: 1040px) {
    header nav {
        display: none !important;
    }
    #uhfCatLogo::after {
        font-family: "MWF-MDL2";
        content: "";
        position: absolute;
        font-size: 8px;
        display: inline-block;
        color: currentColor;
        font-weight: 700;
        padding-top: 14px;
        margin-left: 85px;
    }
    .dialog-close {
        top: 0px;
        right: 0px;
    }
}
@media screen and (min-width: 1085px) {
    #dialog-game .f-next {
        top: 28vw;
    }
    #dialog-game .f-previous {
        top: 28vw;
    }
    .m-content-placement-item {
        padding: 7px !important;
        min-height: 300px;
    }
    #uhf-g-nav2 {
        margin-right: 20px;
    }
    #uhf-g-nav{
        margin-left: 150px;
    }
    footer {
        top: 540px;
    }
    .grid-item {
        width: 16.66%;
    }

    #dialog-game .f-next {
        top: 300px;
    }
    #dialog-game .f-previous {
        top: 300px;
    }
    .carousel-content {
        margin-top: -54px;
    }
}